[2015-01-23 12:53] tufosa opened #1 "Use github API response headers to optimize the update of the db"
That information is now available in the new X-RateLimit-Reset response header.
$ curl -I https://api.github.com/orgs/octokit

HTTP/1.1 200 OK
Status: 200 OK
X-RateLimit-Limit: 60
X-RateLimit-Remaining: 42
X-RateLimit-Reset: 1372700873
...
The X-RateLimit-Reset header provides a Unix UTC timestamp, letting you know the exact time that your fresh new rate limit kicks in.

The reset timestamp is als

[2015-01-26 09:30] #1 closed

[2015-02-03 07:42] tufosa opened #2 "Add timestamp (lastUpdated) to registries in database"
This will provide a hint to the updater to what packages should be refreshed and which shouldn't

[2015-02-03 07:43] tufosa opened #3 "Write an updater"
that will run every week and refresh the pertinent packages

[2015-02-11 07:53] tufosa commented on #2
Already done

[2015-02-11 07:53] #2 closed

[2015-02-11 07:54] tufosa commented on #3
written and running

[2015-02-11 07:54] #3 closed

[2015-02-11 07:55] tufosa opened #4 "Consider repositories other than github"
Right now, the repoQuality of those packages with a repository in a place other than github are considered to have zero quality

[2015-02-11 08:01] tufosa opened #5 "Refactoring of estimate.js to make update.js more efficient"
Leave pending tasks when several pages of issues are found. Write a getIssuesForRepo(name, from, to, callback) for this purpose. Proccess each chuck, and then go for the peding issues. This way we get better control of the remaining API calls to github.

[2015-02-11 08:47] sgmonda opened #6 "Save historical quality scores for every package"
So we can draw time charts

[2015-02-11 12:08] alexfernandez opened #7 "Show all quality factors"
When a package has a GitHub repo but no issues, it shows with quality factors null. It should show which quality factor has actually lowered its score to zero, for improved transparency.

Sample: [microprofiler](http://packagequality.com:8080/microprofiler).
[code]

[2015-02-17 16:05] tufosa commented on #7
solved in last merge

[2015-02-17 16:05] #7 closed

[2015-02-17 16:09] tufosa commented on #5
Solved in the last merge

[2015-02-17 16:09] #5 closed

[2015-02-17 16:16] tufosa opened #9 "Some repositories have quality higher than 1"
For some obscure reason their repoTotalQuality is "-Infinity" nad for other ever more obscure its harmonic mean is higher than one:

{
	"_id" : ObjectId("54e25979f22796cf67c79252"),
	"name" : "gulp-filter",
	"source" : "npm",
	"created" : "2015-02-16T20:56:10+00:00",
	"lastUpdated" : "2015-02-17T15:59:01+00:00",
	"nextUpdate" : "2015-02-17T15:59:01+00:00",
	"timesUpdated" : 1,
	"repoTotalIssues" :

[2015-02-18 09:13] tufosa commented on #9
Fixed in last commit.

[2015-02-18 09:13] #9 closed

[2015-02-26 10:08] alexfernandez opened #10 "Add nginx configuration"
So that the domain packagequality.com can run on port 80.

[2015-02-27 18:24] alexfernandez opened #11 "Use arithmetic average from * to *****."
The results for geometric and harmonic averages are not acceptable: they violate the universal values for [star ratings](http://xkcd.com/1098/) since most packages have zero (and not 1~3). We should use an arithmetic average, with the same weights as now, and start with one star.

[2015-02-27 18:25] alexfernandez opened #12 "Show badges."
It would be great to have badges that show package quality for a repo, using a simple URL scheme. They can then be added to package READMEs.

[2015-02-27 18:25] alexfernandez opened #13 "Show top 100."
We should have a page that displays top 100 packages.

[2015-03-02 12:25] tufosa commented on #11
Tested in app_no_mongo. Waiting for mongo to update before closing the issue.

[2015-03-09 12:59] tufosa opened #14 "Add logrotate to the server"
Otherwise the log files will end up dominating the world.

[2015-03-09 14:30] alexfernandez opened #15 "Unite no_mongo and mongo"
Currently there are two versions of the site:

* mongo uses MongoDB to read package information,
* no_mongo queries GitHub and other datasources concurrently and gets an answer, so the package is checked online.

It would be great to have a single, unified version that uses cached information, and if it's outdated checks online.

In addition to the date, package information might contain a `versio

[2015-03-09 15:19] tufosa commented on #15
Great idea!! This new version should replace the "mongo" version. "No-mongo" will still be useful to launch for debug purposes. The new "mongo" version should work as follows:
    - if the entry is in the DB:
        - if it is outdated:
                - fetch data from the Internet, update DB and serve. If no remaining API calls left, store entry in "update" collection and serve outdated

[2015-03-11 11:00] tufosa commented on #11
DB updated with arithmetic average. Closing.

[2015-03-11 11:00] #11 closed

[2015-03-12 09:43] sgmonda opened #16 "Add support for half-painted stars"

[2015-03-18 22:01] alexfernandez opened #17 "Store everything in /npm/"
Since we have the vocation of being a universal package quality indicator, we should prefix all URLs with `/npm/` so that other package managers can reside in `/maven/`, `/pypi/` and so on.

[2015-03-19 00:02] #16 closed

[2015-03-19 00:02] #12 closed

[2015-03-19 23:36] alexfernandez commented on #17
Even better: use `npm.packagequality.com`, `maven.packagequality.com` and so on.

[2015-03-19 23:36] #17 closed

[2015-03-19 23:37] alexfernandez commented on #10
Done by @sgmonda.

[2015-03-19 23:37] #10 closed

[2015-03-19 23:37] alexfernandez opened #18 "All packages are showing random stars"
Open this image: http://packagequality.com/badge/undefined.png. It shows random stars every time you reload the page. It happens with all packages.

[2015-03-19 23:42] alexfernandez opened #19 "Package quality pages show undefined badge"
Snippet is wrong: http://npm.packagequality.com/#?package=testing shows badge for http://packagequality.com/badge/undefined.png.

[2015-03-19 23:44] alexfernandez commented on #19
Only happens with _no_mongo; closing.

[2015-03-19 23:44] #19 closed

[2015-03-19 23:44] alexfernandez commented on #18
Only happens with _no_mongo; closing.

[2015-03-19 23:44] #18 closed

[2015-03-19 23:54] alexfernandez opened #20 "Link in "Package from npm" should take to npm"
The bit "npm" in "Package from npm" in [the page for loadtest](http://packagequality.com/#?package=loadtest) should take the user to the npm page: https://www.npmjs.com/package/loadtest.

[2015-03-23 18:06] Stuk opened #21 "linting code?"
I know that this project is code agnostic at the moment, but a metric like this actually indicates something about the quality of the code.

The presence of `.jslint.conf`, `.jshintrc` or `.eslintrc` indicates which linter to use, and the results of the linting could inform the rating.

[2015-03-23 20:26] smyrick opened #22 "Add version info"
### User Statement

As a Package Quality (PQ) user, I would like to see the version of the package I searched for, so that I know what version on npm PQ is looking at.
### Details

I know the service currently just looking at the current version on npm but the reassurance is a nice-to-have.  I think it could fit well in two places:
- Underneath the star rating, to the right and vertically aligned

[2015-03-23 21:34] alawatthe opened #23 "quality badge for this package is not working"
See http://packagequality.com/#?package=package-quality

[2015-03-24 02:57] timoxley opened #24 "be more brutal"
Everything I looked at seems to be rated pretty well. Suggest perhaps making it harder to get > 4 stars.

Also:
Not clear exactly how metrics are measured. Suggest some brief description as hover tooltip.
Not clear what an author can do to improve quality. "Is this your package? Here's what you can do to improve your score."

[2015-03-24 16:56] IanVS commented on #21
:+1: I like this idea.  If a package claims to follow certain conventions (as specified in their lint config), it should be penalized for not actually following them.

[2015-03-24 17:13] alexfernandez commented on #21
I like the idea too, but it is a bit ambitious at this stage. Requires downloading tens of thousands of packages and linting them. Each full update takes almost 24h right now as it is.

[2015-03-24 17:59] IanVS commented on #21
True, didn't think of that.  There are a lot of packages out there.

I see an opportunity here for you to create a paid service around this module.  Something along the lines of "pay money and we can run more tests on your package, giving a more meaningful result."  Granted, it's not a very well thought out idea, but it's an idea. :)

[2015-03-24 18:11] alexfernandez commented on #21
It is doable right now, e.g. by npmjs.com who already keep copies of all modules. For this project, I think that keeping to external measures (like checking if there is a build and it passes) might be more productive. At least until we figure out how to charge for our services :)

[2015-03-24 18:19] Stuk commented on #21
It might be easier to scale if linting is done on-demand instead of ahead of time.

[2015-03-24 18:40] alexfernandez commented on #21
Yes, we are planning to do both things: one weekly round with all packages, and also on-demand updates. See https://github.com/alexfernandez/package-quality/issues/15. But we need the weekly round in order to be able to rank packages. When we are hyper-famous and all packages have their badges, we can stop doing the weekly update.

[2015-03-25 02:31] matiassingers opened #25 "Simple badges"
Awesome idea!

I would suggest a simpler badge design in addition to the current one. I know a lot of people use the [shields.io](http://shields.io/) style badges in their packages, and putting the current package-quality badge next to them doesn't look very well.

Would also be awesome with the same styles as shields.io:
![](https://img.shields.io/badge/style-plastic-green.svg?style=plastic)
![](

[2015-03-25 02:46] matiassingers opened #26 "Add usage instructions to readme"
Create a usage section in the README that details how people can easily run the whole application locally.

[2015-03-25 03:27] CGastrell opened #28 "The rating paradigm"
Hi all.

I love this idea, how clean and minimalist it is.

I do worry about how new packages are treated by the calculations. In the very beginning of a package's life it can't (or shouldn't) be treated as a low quality package.

For the sake of clarity, let's assume a package has just been published. No matter how good or well coded it is, it will be a zero-star package assuming most of its cons

[2015-03-25 03:28] CGastrell commented on #28
Maybe use git-hours?

[2015-03-25 09:59] alexfernandez commented on #23
Had to download a fresh list of packages, then update ratings. Done now.

[2015-03-25 09:59] #23 closed

[2015-03-25 11:18] alexfernandez commented on #25
Great idea! Would something like this be cool? https://img.shields.io/badge/quality-%E2%98%85%E2%98%85%E2%98%85%C2%BD%E2%98%86-green.svg I guess that common practice is just redirect to shield.io to get the image?

[2015-03-25 11:56] matiassingers commented on #25
@alexfernandez yeah that would be super awesome!

Yeah I think a lot of services basically just redirect to shields.io.

[2015-03-25 14:39] alexfernandez commented on #25
There are some issues: [custom support might be useful](https://github.com/badges/shields/issues/397), [Unicode does not work in PNG](https://github.com/badges/shields/issues/396). Working on them.

[2015-03-25 14:40] #20 closed

[2015-03-25 14:43] sgmonda opened #29 "Link the Logo to http://<PACKAGE_MANAGER>.packagequality.com/"

[2015-03-25 14:44] matiassingers commented on #25
Oh too bad about the unicode in PNG, but awesome man!

Great work!

[2015-03-25 15:00] alexfernandez commented on #28
There is a huge difference between _quality_ and _quality assurance_; the industry has largely shifted towards the latter. Keep in mind that `package-quality` tries to measure quality assurance and not quality.

As an example, imagine one package that has no tests; the quality of the code might be outstanding, but would you trust it? Now imagine two packages, identical except that one has thorough

[2015-03-26 08:21] matiassingers commented on #24
:+1: on the hover tooltips with a description

[2015-03-26 15:10] anywhichway opened #31 "Packages Not Found"
I am getting package not found errors for npm packages that are published and are on Github. Try two of mine: stringformatter and propertyinterceptor.

I'm new to publishing using npm, so perhaps the quality of my publishing is so bad, you can't read them!

[2015-03-26 15:15] anywhichway commented on #28
I agree on the newness issue. Additionally, the current algorithm can be spoofed by artificially incrementing version numbers. Perhaps some ratio of versions to age is within a normal range?

[2015-03-26 15:54] alexfernandez commented on #31
Hi, currently it takes a week to refresh the complete list of packages. There is an open issue to get packages on demand: https://github.com/alexfernandez/package-quality/issues/15.

[2015-03-26 15:54] #31 closed

[2015-03-26 21:27] techfort commented on #13
+1

[2015-03-27 01:09] zeke commented on #24
I also had a hard time finding a poorly-rated package.

[2015-03-27 11:55] rottmann commented on #25
:+1:

[2015-03-27 13:53] janbiasi opened #32 "Code should be hidden on error"
![image](https://cloud.githubusercontent.com/assets/4563751/6868972/6ad26198-d490-11e4-87e0-831668e318ab.png)

My package is registered on NPM but it does not find it (doesn't matter) but if there's an error (e.g. not found), the code should not be displayed with "undefined" & co. :smiley: thanks!

[2015-03-28 14:15] tufosa opened #33 "cache requests"
In the new "unify" version, the registry (http://registry.npmjs.org/) is called twice, once for checking that the package exists, and another one to estimate the versions factor. Caching this request for 20 seconds will save us a call.

[2015-03-31 13:40] #32 closed

[2015-04-02 07:18] janbiasi commented on #32
Thanks! :smiley:

[2015-04-04 10:35] alexfernandez commented on #25
Done, [example](http://npm.packagequality.com/shield/express.svg).

[2015-04-04 10:36] #25 closed

[2015-04-05 02:47] matiassingers commented on #25
So awesome! :+1: :+1:

[2015-04-23 23:43] alexfernandez commented on #15
I think this is already solved with the recent https://github.com/alexfernandez/package-quality/pull/36, closing.

[2015-04-23 23:43] #15 closed

[2015-04-23 23:43] alexfernandez commented on #4
This is a long-term goal, closing until somebody tackles it.

[2015-04-23 23:43] #4 closed

[2015-05-04 08:23] #33 closed

[2015-05-08 23:36] alexfernandez opened #38 "Use a replica of the npm CouchDB"
Taken from https://skimdb.npmjs.com/.

[2015-08-13 13:54] arynhard opened #39 "Package not found"
I would like to look at the "quality" of my package. Unfortunately `packagequality.com` says it could not find it.

[2015-08-13 15:06] sgmonda commented on #39
Hi @arynhard,
Which is your missing package?

[2015-08-13 20:21] arynhard commented on #39
@sgmonda: https://atom.io/packages/texlicious

[2015-08-14 06:15] tufosa commented on #39
Hi Andrew,

we are only evaluating npm packages so far. Anything that is not in
npmjs.com, will not be found in packagequality.com.

cheers,

Diego.

On Thu, Aug 13, 2015 at 10:21 PM, Andrew Rynhard <notifications@github.com>
wrote:

[2015-08-14 06:47] arynhard commented on #39
@tufosa: thanks.

[2015-08-14 06:47] #39 closed

[2015-08-14 09:38] alexfernandez commented on #39
Needless to say, patches to support other package managers are welcome :)

[2015-09-22 06:56] coderaiser opened #40 "Problem with badge"
![image](https://cloud.githubusercontent.com/assets/1573141/10012374/1d34d2ce-6110-11e5-90bb-649262ce0df1.png)

[2015-09-22 22:11] alexfernandez commented on #40
Thanks for the report, we will take a look.

[2015-09-22 22:13] alexfernandez commented on #40
@tufosa, the [badge](http://npm.packagequality.com/shield/package-quality.svg) on the [homepage](https://github.com/alexfernandez/package-quality) suddenly looks weird. However the [raw badge](https://img.shields.io/badge/quality-%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85-brightgreen.svg) looks fine. Any clues?

[2015-09-23 07:30] DiegoTUI commented on #40
@alexfernandez I am not very familiar with the badges. I've checked the API part and it seems to be working OK. @sgmonda any clue?

[2015-09-23 07:33] DiegoTUI commented on #40
@alexfernandez @sgmonda and anyway, in the [homepage](https://github.com/alexfernandez/package-quality) it looks fine.

[2015-09-23 07:40] alexfernandez commented on #40
Not for me on Debian, is it a Linux-specific thing? See:
![captura de pantalla - 230915 - 09 40 13](https://cloud.githubusercontent.com/assets/876570/10039935/268cffbe-61d7-11e5-833f-928bc77a2798.png)

[2015-09-23 07:49] DiegoTUI commented on #40
I've tried it on Safari, Firefox and Chrome (Mac OSX). Looks fine in all of them. I've tried in Ubuntu and it fails, but only in Chrome (in Firefox it works fine). Seems like the font we are using (DejaVu Sans,Verdana,Geneva,sans-serif) is not loaded in Chrome.
![screen shot 2015-09-23 at 09 42 52](https://cloud.githubusercontent.com/assets/3273576/10039989/b4d93382-61d7-11e5-8952-5392246b962f.png

[2015-09-23 07:53] alexfernandez commented on #40
Woah, it has fixed itself magically! Had to reload with shift so that images were also reloaded. Closing, thanks!

[2015-09-23 07:53] #40 closed

[2015-09-23 07:55] DiegoTUI commented on #40
Software engineering is 60% skills, 40% magic. Well done!!

[2015-10-01 11:22] fcanela opened #41 "Badge shows weird characters"
Interesting project :+1: . Having something like this would be hanging when deciding if a dependency is worth being added or removed.

Well, let's not start sucking each other's dicks quite yet. Badges shows a weird text.

![badge](https://cloud.githubusercontent.com/assets/1985394/10219390/d4d094f6-683e-11e5-974d-85df0b32a02f.png)

Tested with Firefox 41 and Chrome 45 under Ubuntu 14.04.

Looking

[2015-10-01 11:31] alexfernandez commented on #41
This issue has been reported before here: https://github.com/alexfernandez/package-quality/issues/40, but @DiegoTUI could not pinpoint it. Please take a look. If you can find it and solve it, you will be my hero!

[2015-10-01 11:35] fcanela commented on #41
Sorry, I did not found it. I solved it locally. Placing the alt code (&#9733; and &#9734;) instead of the character outputs it correctly. I'll try to send a PR during the day.

[2015-10-01 11:38] alexfernandez commented on #41
Great!

Alex.

On Thu, Oct 1, 2015 at 1:35 PM, Francisco Canela <notifications@github.com>
wrote:

[2015-10-07 21:52] fcanela commented on #41
I still have this in my TODO list. It's being a busy week.

[2015-10-07 22:00] fcanela opened #42 "Add preinstalation instructions"
Users may need to install "libgif-dev" at operating system level before installing npm dependencies.

This can achieved in debian/ubuntu doing:
sudo apt-get install libgif-dev

And under OSX:
brew install libgif-dev

I will try to update the docs too to include that after the SVG patch.

[2015-10-07 22:07] alexfernandez commented on #42
Please do!

[2015-10-07 22:55] fcanela commented on #41
After giving a quick check before going to sleep, I learnt a little bit more about package-quality and the problem.

Placing the unicode code would be the solution if it was package-quality who rendered the svg, but it acts as a proxy with shields.io.

It request the image passing stars as part of the url to shields.io. After some use of wireshark, I found that the **url is not correctly encoded**

[2015-10-07 22:55] alexfernandez commented on #41
Great job! Awaiting your patch :)

[2015-11-15 22:18] alexfernandez commented on #41
Changed in version 0.2.3. @DiegoTUI, can you please it deploy it to package-quality.com?

Thanks, @fcanela, for the report and the solution!

[2015-11-15 22:18] #41 closed

[2015-12-05 10:33] NeXTs opened #43 "Different results"
Take a look at measurements for [clusterize.js package](http://packagequality.com/#?package=clusterize.js)
Shield's and badge's stars vary

![packageq](https://cloud.githubusercontent.com/assets/1753208/11607361/1e942806-9b4c-11e5-8b32-a2d698253851.png)

I suspect it's because badge fetch [clusterize](http://packagequality.com/#?package=clusterize) package instead of clusterize.js

[2015-12-14 17:02] NeXTs commented on #43
Any updates on this?

[2015-12-14 21:21] alexfernandez commented on #43
Sorry for the delay, I think it's [solved](http://packagequality.com/#?package=clusterize.js) now. Can you check?

[2015-12-14 21:23] NeXTs commented on #43
:+1: thank you!

[2015-12-14 21:34] alexfernandez commented on #43
Thanks for the report! :)

[2015-12-14 21:34] #43 closed

[2016-02-05 01:46] vitaly-t opened #44 "inadequate rating"
Just out of curiosity I tried with one of my packages, pg-promise

It dropped the rating a lot based on the number of issues that were open over the package's lifespan.

A popular, high-quality package will naturally receive much attention, and much of that attention is in questions and ideas people bring to the table. In my project all questions have been answered and all ideas have been met, no

[2016-02-05 08:39] DiegoTUI commented on #44
You are definitely right in one thing. There is still a lot of room for improving the way we rate the packages. You are welcome to add your own rating factor and submit a PR. Regarding the way we compute issues, here's an explanation of how it is done so far (you can have a look yourself in lib/factors/isssues):
- we get all the issues of the packages (```total```)
- out of ```total``` we store in

[2016-02-05 10:27] vitaly-t commented on #44
That is not the score that I saw yesterday, it was way lower. That's why I wrote all this. But it changed since. I don't understand why.... I was getting something like 85% on the Open Issues.

[2016-02-05 11:11] alexfernandez commented on #44
Maybe you closed some longstanding issues? Quality is recomputed every day.
El 5/2/2016 11:27 a. m., "Vitaly Tomilov" <notifications@github.com>
escribió:

[2016-02-05 11:13] vitaly-t commented on #44
Nope, I did not, and I did not have any outstanding issues.

[2016-02-12 02:32] vitaly-t commented on #44
Closing as an unresolved mystery.

[2016-02-12 02:32] #44 closed

[2016-02-12 07:11] tufosa commented on #44
;-))

On Fri, Feb 12, 2016 at 3:33 AM, Vitaly Tomilov <notifications@github.com>
wrote:

[2016-05-23 14:16] guitarmanvt commented on #28
As a new package author, I was shocked to find my package rated as "crap", with not one single bit of detail provided about why it got such a low score. My gut-level reaction is to consider package-quality "crap" and to bad-mouth it on Twitter. (Don't worry, I won't.) I hope it's not hard to understand that creating bad blood with new package authors is not helpful for your package quality measure

[2016-05-23 14:23] alexfernandez commented on #28
Hi @guitarmanvt, I have added a small clarification in commit 9475551. The idea to provide detailed feedback is great, but right now the internals of the algorithm are not exposed. PRs welcome! :)

[2016-05-23 14:39] guitarmanvt commented on #28
Doh! I didn't realize that the ratings image was from XKCD. In that case, who am I to complain? ;)

Thanks for the clarification, @alexfernandez . It does help.

[2016-05-24 01:54] anywhichway commented on #28
I think the perspective on quality would be substantially improved if it included integration of data from CI platforms like Travis or code quality platforms like Codacity or CodeClimate. The degree to which low use packages are penalized at this point coupled with a graphic that says anything below 4 stars in Crap has me choose not to add badges for this system which would help in promulgate. I h

[2016-05-24 02:02] anywhichway commented on #28
Here's a challenge ... submit the package quality assessment algorithms to npm as a package themselves and see what the ratings are ... probably crap. But, I don't think what you are trying to do is crap. In fact, I think it is a good idea. That being said, so long as the front end says that lots of things that aren't crap are crap, it is not something I would contribute to other than to make sugg

[2016-05-24 09:07] alexfernandez commented on #28
Hi @anywhichway, don't be offended by the "crap" thing, it's just a webcomic by xkcd which I thought illustrated the point of star systems. As you say, if the valuations of our system are not good then our work is not worth it. That said, any system is going to have its problems.

Your suggestion of showing the % of packages in each bracket is a good one. We accept PRs of all kind.

[2016-05-24 09:31] anywhichway commented on #28
Understood Alex; however, I think it is probably damaging the growth of your tool.

[2016-06-05 08:09] michaelrambeau opened #45 "Open API available?"
Hello Alex,
I created an application http://bestof.js.org/ to help developers find the best components of the web platform (front and back end).
Basically it is a curated list of 500 projects on Github about js in the browser and in node.js, html, css,..
Every day the application checks variations of stars on Github to detect trends.
I would like to display more relevant information about the **qu

[2016-06-05 20:01] alexfernandez commented on #45
Hi @michaelrambeau, right now there is no API, but it would be quite easy to add a route `/api/:package` to [`bin/app.js`](https://github.com/alexfernandez/package-quality/blob/master/bin/app.js). We would be glad to merge it, so that you could just access `http://packagequality.com/api/mypackage` and get back a JSON with some info. Would you be interested in sending a PR?

[2016-06-05 20:04] alexfernandez commented on #45
By the way, your project bestofjs.org looks great! I have noticed that there is no category for load testing, and my own project [`loadtest`](https://www.npmjs.com/package/loadtest) is not featured under "testing tools". What should I do to include it?

[2016-06-05 20:43] michaelrambeau commented on #45
Thank you very much for your answer Alex.
OK I am going to check how package-quality works and I will send you a PR.

About adding new projects, users should be able to submit new projects, it is one of the missing features I will add soon.
`loadtest` looks good, so far there was no load test library, so I have just added it.
It will be available in the UI very soon (technically in less than 2 day

[2016-06-06 21:23] michaelrambeau commented on #45
Hello Alex, just to confirm that loadtest project is available in bestof.js.org, in the "test" category => http://bestof.js.org/tags/test
FYI, I am working right now on the PR about the "open API".

[2016-06-06 21:24] alexfernandez commented on #45
That's cool, thanks! Let me know if I can help you with the PR.

[2016-06-06 21:41] michaelrambeau commented on #45
I was checking the existing routes and it seems that what I need already exists: the `/package/:package` route already returns JSON data.

For example: http://packagequality.com/package/redux returns

[code]

What do you think, can I use this route ? Or is it better to create a new `/api/:package` route as discussed before ?

[2016-06-06 21:42] alexfernandez commented on #45
Wow, I forgot. @DiegoTUI, you built this API, do you think it is usable for this purpose?

[2016-06-06 22:38] alexfernandez commented on #45
I mean, if it contains the data you need, definitely use it, Michael :)

[2016-06-08 11:23] DiegoTUI commented on #45
Yep!!! We do not have a documentes API, but we do have certain endpoints that we use in the packagequality.com website to get the data for a certain package. You just found the right route for you!! No need to implement the `/api/:package` then.

[2016-06-08 12:03] michaelrambeau commented on #45
Thank you fo your answer @DiegoTUI and @alexfernandez !
I will try to include packagequality scoring in my application.
For example, for a given "tag", it could be nice to sort results by scoring, I am curious to see if some packages really stand out compared to others, I will let you know...

[2016-06-19 00:49] michaelrambeau commented on #45
Hello Alex, I am still working to display results from packagequality.com API.

I'd like know if it's possible to find "scoped projects" like [@cycle/core](https://www.npmjs.com/package/@cycle/core) or [@pwn/is](https://www.npmjs.com/package/@pwn/is) from the UI.

![image](https://cloud.githubusercontent.com/assets/5546996/16174557/b0a0cb5a-3601-11e6-9463-cc6f976ac8aa.png)

**The API works**, for

[2016-06-19 08:17] michaelrambeau commented on #45
Hello again Alex, according to the following comment, it does not seem that "scoped packages" are included in npm search results, so I don't think it is possible to make API calls.

So you can ignore my previous request.

https://github.com/cyclejs/core/issues/292#issuecomment-209377760

By the way , have you heard about https://npms.io/ ? The concept seems to be similar to packagequality.com.

[2016-06-19 09:05] alexfernandez commented on #45
Hi again, we are aware that several alternatives exist to measure package quality. Our own is designed to be code-independent: it only looks at external attributes of the repo, without actually downloading it. Thus it can be applied to Maven packages, or to anything hosted in GitHub (and can be extended to others like gitorious).

The original idea was to answer the age-old question: "Yes, npm has

[2016-06-19 09:38] michaelrambeau commented on #45
OK I see, it makes sense, thank you, that is why it's called "packagequality.com" and not "npmquality" :wink:
And sorry for the previous request, for now I am going to ignore the "scoped packages".
I will show you the first iteration very soon...

[2016-07-03 00:58] michaelrambeau commented on #45
Hello Alex,
packagequality.com data is now available on http://bestof.js.org/ !

![image](https://cloud.githubusercontent.com/assets/5546996/16543179/c792c48c-4103-11e6-9133-7be6871d91d3.png)

If you click on the score, it will open the package page on packagequality.com, for example http://packagequality.com/#?package=animejs

Also, for a given tag, you can sort by "quality score" if you click on

[2016-07-03 21:00] alexfernandez commented on #45
Great news! Thanks :)

[2016-09-09 07:33] equinusocio opened #46 "Add retina support (banner)"
Add a retina ready quality banner. Now the banner looks like a s**t on retina display :)

[2016-09-09 21:57] alexfernandez commented on #46
Care to propose a patch?

[2016-09-10 09:37] equinusocio commented on #46
How?

[2016-09-10 21:36] alexfernandez commented on #46
We would need to know why it looks wrong. The [existing banner](https://camo.githubusercontent.com/4d91886bebbf0f1f2b67778a19c36c411980d201/687474703a2f2f7061636b6167657175616c6974792e636f6d2f736869656c642f7061636b6167652d7175616c6974792e737667) is a SVG so it should scale nicely.

Can you attach a screenshot and a link so we can diagnose the problem first?

[2016-09-12 08:49] equinusocio commented on #46
Not the shield, i mean the banner:
<img width="287" alt="screen shot 2016-09-12 at 10 49 36" src="https://cloud.githubusercontent.com/assets/10454741/18429958/a06d5f6a-78d6-11e6-9def-58fa106729d0.png">

[2016-09-13 23:27] alexfernandez commented on #46
Wow, you are right. @tufosa Do you think we can improve it?

[2016-09-14 06:05] tufosa commented on #46
Looks pretty bad. It wasn't me who implemented the client side. Let me have
a look at how it's done and see if There is an easy fix.

On Wed, Sep 14, 2016 at 1:27 AM, Alex Fernández <notifications@github.com>
wrote:

[2016-09-14 07:28] alexfernandez commented on #46
Was it @sgmonda? What do you think, Sergio?

[2016-09-14 13:27] DiegoTUI commented on #46
@alexfernandez @sgmonda it seems like we need a higher quality app/img/badge2.png, as well as higher quality stars. As @equinusocio pointed out, an easy fix would be to replace our current image resources by 3x quality resources and serve them for all devices. A fine tune of this approach would be to have several quality of images for several resolutions, read the user-agent of the request and ser

[2016-09-17 23:46] sgmonda commented on #46
@DiegoTUI @alexfernandez @tufosa  I've added x2 and x3 versions for badge and stars, and I've implemented a simple way to serve x2 and x3 images, just adding an optional argument `size=X` to the badge URL.
Example:

http://npm.packagequality.com/badge/material-theme.png
![image](https://cloud.githubusercontent.com/assets/675812/18611658/e265440a-7d40-11e6-98b0-d11970c3ac6b.png)

http://npm.package

[2016-09-19 09:10] DiegoTUI commented on #46
thanks @sgmonda. I just deployed this last version. Closing the issue.

[2016-09-19 09:11] DiegoTUI commented on #46
Well, I can't close the issue ;-)) @alexfernandez please, test the new features and close it.

[2016-09-19 09:20] alexfernandez commented on #46
I cannot test it, @equinusocio can you let us know if it works for you, or do you need anything else?

[2016-09-19 10:07] equinusocio commented on #46
I see yet the non-retina banner.

[2016-09-25 16:09] DiegoTUI commented on #46
@equinusocio are you adding the size parameter to your request? I just checked right now and it seems like it's working:

http://packagequality.com/badge/async.png?size=3

[2016-09-25 16:52] equinusocio commented on #46
But shouldn't be automatic?

[2016-09-26 06:47] thecotne commented on #46
why not serve svg?

[2016-09-30 07:26] alexfernandez commented on #46
Not sure that we have `svg` for that particular image, but it might be a good solution. @sgmonda, what do you think?

[2016-09-30 08:49] thecotne commented on #46
to help decide about `svg` here are benefits of it

- Extremely High Quality (Retina ready, One Size fits all)
- Extremely Low Size
- Easy to generate with script

[2016-09-30 08:50] equinusocio commented on #46
False. It is not always so.

[2016-09-30 08:55] thecotne commented on #46
minimize "any" svg with [svgo](https://github.com/svg/svgo)
take that svg and convert to png and compere size

svg is always smaller then png/jpeg

if you have vector graphics in first place (like stars and check mark ...)
i am not saying converting png/jpeg to svg will save you size

[2016-09-30 08:58] thecotne commented on #46
if you drow [this](https://github.com/alexfernandez/package-quality/blob/master/app/img/badge2_x3.png) in illustrator/inkscape it will be much smaller and much better quality

[2016-09-30 10:31] equinusocio commented on #46
i am not saying converting png/jpeg to svg will save you size

👍

[2016-09-30 10:52] alexfernandez commented on #46
Good idea. Any takers? @equinusocio @thecotne?

[2016-10-01 10:34] thecotne commented on #46
@alexfernandez everything looks simple in `badge2.psd` but logo is not vector
do you have vector version of logo? `svg` or `ai` format?

@equinusocio you can minimize svg with [svgo](https://github.com/svg/svgo) and compress with gzip

[2016-10-02 18:57] alexfernandez commented on #46
I do not think we have a SVG version, but I will let @sgmonda answer the question.

[2016-10-16 06:21] thecotne commented on #46
ping @alexfernandez @sgmonda

[2016-10-17 10:10] sgmonda commented on #46
There is no `svg` version of our image resources. Even if we create it, we cannot support `svg` badges right now, unless we change the way we build them. We're using a virtual canvas which needs the width and height to compute the final image. That is the reason we've added support for `size` argument, which just multiplies by 2 or 3 the original size.

Supporting `svg` badges is a good feature, b

[2016-10-17 10:25] thecotne commented on #46
If you guys provide vector logo i can  create svg version of badge and
generator script for that

On Mon, Oct 17, 2016, 14:10 Sergio Garcia Mondaray <notifications@github.com>
wrote:

[2016-10-17 17:07] alexfernandez commented on #46
@thecotne We just don't have it. Is anyone able to replicate it in vector form? That would be cool!

[2017-01-20 15:47] jcubic opened #47 "Can't find jquery.terminal"
I have a package [jquery.terminal](https://www.npmjs.com/package/jquery.terminal) but when I search I only get bioship.jquery.terminal. the package can be found by changing the url to http://packagequality.com/#?package=jquery.terminal

[2017-02-24 14:18] Wandmalfarbe commented on #46
I created the logo in vector format (Inkscape-SVG) here #48.

[2017-02-26 17:21] alexfernandez commented on #46
Thanks, @Wandmalfarbe, merged now! @thecotne can you pick it up from here?

[2017-02-26 17:28] thecotne commented on #47
it's searchable for me
<img width="519" alt="screenshot 2017-02-26 21 28 00" src="https://cloud.githubusercontent.com/assets/1606993/23341951/81992e26-fc6a-11e6-85b9-38b5b27ac35f.png">

[2017-02-26 17:32] thecotne commented on #46
working on it ...

[2017-02-26 17:51] jcubic commented on #47
When I reported the issue only bioship was present, it work now.

[2017-02-26 17:51] #47 closed

[2017-04-09 19:31] thecotne commented on #46
sorry for delay ...

so far i have this -> https://gist.github.com/thecotne/2a0776c6849cee2ddfbb3b35bc7ac119

(half star has different style)

i could not start package quality locally ...
it wants some mongodb running ...

[code]

[2017-04-09 20:18] alexfernandez commented on #46
Not bad. Can you send a PR?

[2017-04-10 06:48] equinusocio commented on #46
@thecotne The green mark is not vertically centered :)

[2017-04-10 21:13] thecotne commented on #46
@equinusocio updated ...

green color was also wrong

[2017-06-01 15:03] corysimmons opened #50 "https please"
Your badge is still served from http.

https://www.i18next.com/ console:

![image](https://cloud.githubusercontent.com/assets/224636/26686085/ecca465a-46b9-11e7-867c-6d754188e156.png)

[2017-06-07 20:38] alexfernandez commented on #50
You are right, this is a bit stinky. Care to propose a pull request?

[2017-06-07 20:59] corysimmons commented on #50
I'm far too lazy to do anything other than point out things.

[2017-06-07 21:00] alexfernandez commented on #50
Fair enough, will get to it eventually!

[2017-06-07 21:42] corysimmons commented on #50
No problem. tbh I just file things as I notice them. I'm a lazy/unpaid QA person for projects I find interesting.

[2017-06-07 21:43] alexfernandez commented on #50
Your efforts are much appreciated!

[2017-07-06 14:19] Ehesp commented on #50
Also looking for https, currently this is the only thing on our Github hosted site blocking it from full https :(

[2017-07-06 19:56] corysimmons opened #51 "Wrong npm package?"
http://packagequality.com/#?package=lost

![image](https://user-images.githubusercontent.com/224636/27930112-6aa6bce2-6263-11e7-98ff-254f742dfaf2.png)

![image](https://user-images.githubusercontent.com/224636/27930117-715aee50-6263-11e7-90e4-df2c2a700a04.png)

![image](https://user-images.githubusercontent.com/224636/27930124-78130976-6263-11e7-88e6-7f11f42a3baa.png)

Is package-quality rating an

[2017-07-09 23:17] alexfernandez commented on #50
@DiegoTUI Can we open port 443 and serve badges from there? Thanks!

[2017-07-10 06:11] DiegoTUI commented on #50
Yep!! Will do today!!

[2017-07-11 18:12] DiegoTUI commented on #50
done, @corysimmons @Ehesp can you check?

[2017-07-11 23:10] corysimmons commented on #50
![image](https://user-images.githubusercontent.com/224636/28094746-622789f4-666c-11e7-8b7e-94187c407a97.png)

Not sure if I'm checking wrong or what. Just go to i18next.com and check out the console:

![image](https://user-images.githubusercontent.com/224636/28094766-8970914a-666c-11e7-82a7-ead94b56d8ec.png)

[2017-07-12 05:38] tufosa commented on #50
mmmmmmmhhh.... That's because letsencrypt does no issue wilcard
certificates yet. And I got one for packagequality.com, but not for
npm.package.com. Will try something else tonight.

On Wed, Jul 12, 2017 at 1:10 AM, Cory Simmons <notifications@github.com>
wrote:

[2017-07-12 12:53] DiegoTUI commented on #50
@corysimmons I expended the certificate to npm.packagequality.com. Can you try again?

[2017-07-12 13:58] Ehesp commented on #50
Horray :) https://npm.packagequality.com/shield/react-native-firebase.svg?style=flat-square

[2017-07-12 17:46] corysimmons commented on #50
![](https://m.popkey.co/ab40c8/qr9WA_s-200x150.gif)

[2017-07-12 17:46] #50 closed

[2017-07-16 22:06] alexfernandez commented on #51
What should it show?

[2017-07-17 02:15] corysimmons commented on #51
Where it says "Cache everything" it should say something along the lines of "LostGrid is a powerful grid system built..."

I believe you're displaying cached pkg metadata. Perhaps it would be better to fetch pkg data on demand?

Or at least cache the metadata every month or so instead of multiple years.

Am I right in assuming this is what's going on?

[2017-07-17 02:16] corysimmons commented on #51
Oh it looks like it has been updated (for that pkg anyway).

![image](https://user-images.githubusercontent.com/224636/28253684-51787b8e-6a74-11e7-9449-064d1c39f74f.png)

🤷‍♂️

[2017-07-17 02:16] #51 closed

[2017-09-21 16:59] lindell opened #52 "Badges are not working"
For example http://npm.packagequality.com/shield/babel.svg

[2017-09-24 09:47] jcubic commented on #52
it seems that big one png work:

[![Package Quality](http://npm.packagequality.com/badge/babel.png)](http://packagequality.com/#?package=babel)

but not the small one return `{"error":"database not available"}`

[2017-09-24 10:06] jcubic commented on #52
Looking at the source code, that error happen on any error from `packages.find` or `retrieveShield` and since the packages.find is used on big badge it need to be `retrieveShield` that for some reason can't fetch the file from img.shields.io, they service work:

![](https://img.shields.io/badge/quality-100-green.svg?)

there should be info in log.

[2017-09-24 22:28] alexfernandez commented on #52
Thanks for this, @jcubic. @tufosa Can you look into it?

[2017-09-25 07:33] DiegoTUI commented on #52
@jcubic @alexfernandez I will!!

[2017-09-25 12:56] DiegoTUI commented on #52
@jcubic I believe it is fixed now. Please, check and reopen if it is not.

[2017-09-25 12:56] #52 closed

[2017-09-25 16:16] jcubic commented on #52
it works, thanks.

[2017-11-10 06:40] axetroy opened #53 "feat request: support package which publish with namespace"
Example: ``@author/packagename``

[2017-11-14 14:17] RamonGebben opened #54 "Search does not work for scoped packages"
When I search for any package that is scoped under an org or username I get `404`'s.

For instance:
`@storybook/react`

[2017-11-21 02:44] dpilafian opened #55 "Wrong data when npm package name contains a dot"
The page for the **dna.js** project shows metadata from the **dna-js** project.

![packagequality](https://user-images.githubusercontent.com/119555/33052144-4b163256-ce22-11e7-8f7b-240a536461e1.png)

The tag line for:
http://packagequality.com/#?package=dna.js
displays:
`Human friendly data format.`

It should display:
`An uncomplicated user interface library for semantic templates`
as can be seen

[2017-11-21 09:49] alexfernandez commented on #55
@DiegoTUI Any clues?

[2017-11-22 06:52] tufosa commented on #55
It seems like we are receiving errors while trying to re-estimate a
package. Will try to fix it this week.

On Tue, Nov 21, 2017 at 10:49 AM, Alex Fernández <notifications@github.com>
wrote:

[2017-11-23 23:38] alexfernandez commented on #54
Hi, @RamonGebben! Sorry for the delay.

@DiegoTUI is looking into a few issues due to lack of updates. Maybe this is related?

[2017-11-26 15:17] DiegoTUI commented on #55
I believe it is fixed now. @dpilafian can you check?

[2017-11-26 15:17] #55 closed

[2017-11-26 16:22] DiegoTUI commented on #54
Hi @RamonGebben
I found the reason for this issue here, although I didn't work out a solution yet, maybe you can help. PackageQuality looks into [NPM's registry](http://registry.npmjs.org/) for the requested package before evaluating its quality. Non-scoped packages are straightforward to get http://registry.npmjs.org/<package-name>, but scoped packages seem to work a bit different. The problem is

[2017-11-26 19:03] DiegoTUI commented on #54
Hi again!!

I think I found a way!! Apparently you need to escape the `/` char, but not the `@`. Like this: https://registry.npmjs.com/@storybook%2freact/

There is an issue open in the npm registry about this: https://github.com/npm/registry/issues/34
I'll fix it ASAP!!

[2017-11-27 09:18] RamonGebben commented on #54
Awesome, Hopefully this will be deployed quickly!

[2017-11-27 09:56] DiegoTUI commented on #54
I think it is solved now. Please check

[2017-11-27 09:56] #54 closed

[2017-11-27 11:12] RamonGebben commented on #54
It works! Thanks for the quick work.

[2018-04-23 15:59] grant opened #56 "Support Scoped Packages (i.e. `@google`)"
Packages that are scoped (Use `@`) break the image URL:
http://npm.packagequality.com/#?package=@google%2Fclasp

[2018-05-06 21:56] alexfernandez commented on #56
Hi, sorry for the delay! It sounds good, care to venture a patch?

[2018-05-08 11:54] alexfernandez commented on #56
That is cool! If you propose a PR I will just accept it.

[2018-05-11 13:16] styfle commented on #38
What does this do?

[2018-05-11 13:18] styfle opened #57 "Missing package: copee"
Is there a way to submit new packages?

This one is missing: http://packagequality.com/#?package=copee

Here it is in npm: https://www.npmjs.com/package/copee

[2018-05-30 10:15] alexfernandez commented on #38
Sorry for the delay. We are reading the list of packages from a static location, which is discouraged. We were told to replicate the npm CouchDB and use that instead.

[2018-05-30 10:16] alexfernandez commented on #57
Sorry for the delay, @styfle. It is there now, apparently!

[2018-08-20 20:04] smyrick commented on #22
Closing

[2018-08-20 20:04] #22 closed

[2018-10-03 13:47] oleg-koval opened #58 "Badge in GH is not updated after quality updated"
my gh badge:
[![Package Quality][pq-image]][pq-link]

quality report: http://packagequality.com/#?package=koa-verto

badge in npm package page is ok

[pq-image]:http://npm.packagequality.com/shield/koa-verto.svg
[pq-link]:http://packagequality.com/#?package=koa-verto

[2018-10-03 13:54] alexfernandez commented on #58
Great! Closing, feel free to reopen if needed.

[2018-10-03 13:54] alexfernandez commented on #58
OK, will look into it.

[2018-10-03 13:56] alexfernandez commented on #58
What is the difference? I see the same thing in both places.
![image](https://user-images.githubusercontent.com/876570/46415088-d28ce800-c724-11e8-9940-8610915a6a84.png)

Keep in mind that GitHub caches images for a certain time.

[2018-10-03 14:27] oleg-koval commented on #58
true, you right, closing this :)
thanks!

[2018-10-03 14:27] #58 closed

[2018-12-12 05:15] grant commented on #56
It looks like this repo ignores `local-config.js`.

I also get the error:
[code]

[2018-12-16 11:56] alexfernandez commented on #56
Again, I would appreciate it if you can submit a PR :smile:

[2018-12-16 22:41] grant commented on #56
Well, I'd submit a PR for the feature if the project build wasn't broken.

I can't say I'm going to (1) fix the project build, then (2) add a PR, since there's a fine workaround.

[2018-12-17 00:30] alexfernandez commented on #56
Fair enough, I will try to repair the build and get back to you, OK?

[2019-01-02 03:11] Junior2Ran opened #59 "badge on GH doesn't match to the SVG"
This issue seems to be similar to #58

The quality on website is 4 stars, [check it here](http://packagequality.com/#?package=vis-ui)
But the badege appears 2.5 stars on GITHUB
 [![Package Quality](http://npm.packagequality.com/shield/vis-ui.svg)](http://packagequality.com/#?package=vis-ui)
However, the [svg image](http://npm.packagequality.com/shield/vis-ui.svg) seems correct on an independent br

[2019-01-08 03:19] Junior2Ran commented on #59
It turns ok today. Maybe the problem is due to GH caches? No way to prove...

[2019-01-09 02:58] Junior2Ran commented on #59
It goes wrong again... 🤣 So it can't be GH caches reason. Somebody to find it out?

[2019-01-09 08:47] alexfernandez commented on #59
Sure! I am reading 4 stars both on the repo and on the badge itself. Perhaps there is a dirty cache somewhere?

[2019-01-09 09:20] Junior2Ran commented on #59
OMG, 4 stars again~ I'm gonna just leave it, damn cache! 😵

[2019-01-09 09:20] #59 closed

[2019-01-09 09:22] alexfernandez commented on #59
Sorry about that! I will review this issue to be sure the next time I delve into the repo.

[2019-01-09 10:08] Junior2Ran commented on #59
It's ok. It might not be caused by the repo. GH cache may be the key reason.

[2019-01-21 12:54] fridtjofsen opened #60 "packagequality.com still links to http images"
packagequality.com still links to http images an dnot https

[2019-01-22 22:35] alexfernandez commented on #60
Corrected now in 0.2.4, please verify and reopen if necessary.

[2019-01-22 22:35] #60 closed

[2019-11-07 19:16] nombrekeff opened #61 "Site not working"
Hi there, it seems the site at https://packagequality.com is not working. At least today.

[2019-11-07 19:37] nombrekeff commented on #61
Is the project/site still maintained?
If so I will suggest adding a message to the README.md

I'm willing to do it myself, and maybe maintain it, for a while at least.

[2020-02-16 14:43] jcubic commented on #61
It's still not working, what happen to the project?

[2020-02-16 21:30] alexfernandez commented on #61
Hi, the project is not maintained at the moment. The server stops randomly and I just reboot it. To be honest I don't even have access to the server any more. If you would like to maintain it go ahead! Just set the project up somewhere and I will check it. Thanks!

[2020-02-17 10:11] nombrekeff commented on #61
Maybe I could maintain it, I was thinking of publishing it on zeit.now or similar, although domain would change. It would no longer be packagequality.com

[2020-02-17 10:34] jcubic commented on #61
Maybe you can give the domain it's usualy in different place then the server. It would be great if domain state the same, I think that lot of projects use it and don't even know that's broken if that happen.

[2020-02-17 10:37] nombrekeff commented on #61
Yup, agreed, maybe he could trespass the domain, and set it up in zeit.now.
Are you up to help me out? I don't have much time to do maintain it

[2020-02-17 10:59] jcubic commented on #61
Sorry, I don't have time, I have few open source projects I'm maintaining and I'm working on those when I have time. No more time for new projects.

[2020-02-17 11:05] nombrekeff commented on #61
Totally understandable, I'm in the same situation, I work full time and maintain a couple of projects as well.

[2020-02-18 10:56] bennyn commented on #61
I received a "Failed to load resource: the server responded with a status of 504 (Gateway Time-out)" when querying through the site: https://packagequality.com/#?package=coinbase-pro-node-api

[2020-02-18 11:20] alexfernandez commented on #61
It's working for me right now, maybe it was busy indexing packages (which is the usual problem I suspect).

[2020-06-09 10:44] jcubic commented on #61
There is issue again http://npm.packagequality.com/shield/jquery.terminal.svg give `{"error":"database not available"}`

[2020-06-09 14:39] alexfernandez commented on #61
Thanks for letting me know! I have restarted it, and scheduled a daily restart so it doesn't get stuck any more :blush:

[2020-07-21 13:24] jackmu95 opened #62 "SSL certificate expired"
The SSL certificate on https://packagequality.com/ is expired since June 26.
It would be awesome to have the LetsEncrypt certificate renewed to be able to browse the site safely again.

The expired certificate also causes badges to fail loading when requested over HTTPS
![Bildschirmfoto 2020-07-21 um 15 21 32](https://user-images.githubusercontent.com/2737132/88060201-34227e80-cb66-11ea-9981-8f66f

[2020-07-22 07:48] alexfernandez commented on #62
Certificate renewed. I have also set up `certbot` to automate renewals. Thanks a lot! :+1:

[2020-07-22 07:48] #62 closed

[2020-11-19 14:05] Shuunen commented on #61
dead on my side

[2020-11-19 16:01] alexfernandez commented on #61
Sorry, server was out of space. Thanks!

[2021-02-13 19:28] sasadjolic commented on #56
Any updates on adding support for scoped packages?

[2021-02-13 19:30] sasadjolic commented on #56
I should mention that the workaround as described above in the history of this issue does not work anymore

[2021-02-13 20:08] grant commented on #56
I added a PR that I believe fixes the URL rendered on the web page. Although I don't know if it fixes the related/new searching issue.

[2021-02-28 23:17] #56 closed

[2021-02-28 23:19] alexfernandez commented on #56
Merged and restarted! But now https://packagequality.com/shield/%40google%2Fclasp.svg is yielding an error :thinking:

[2021-06-08 01:54] atian25 commented on #53
+1 for this

[2021-12-31 12:14] hejny opened #65 "Is there a way how to"
Hi @alexfernandez ,
is there a way how to get package quality of scoped package?
I have tried a lot of variations but did not figure out how to get a working badge for [@collboard/modules-sdk](https://www.npmjs.com/package/@collboard/modules-sdk).

For my other non-scoped packages, it is working perfectly! Thanks!